* {
    margin: 0;
    padding: 0;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 14px;
    -webkit-user-select: none;
}

a {
    text-decoration: none;
    color: white;
}

.ui_element {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#chat {
    display: block;
    z-index: 0;
    color: white;
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
    font-family: Myriad Pro, Open Sans, sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    margin-left: 15px;
}

@media screen and (min-height: 1080px) {
    #chat {
        font-size: 18px !important;
        font-weight: bold;
    }
}

#chat ul#chat_messages {
    overflow: auto;
    height: 285px;
    margin-top: 2vh;
    transform: rotate(180deg);
    width: 37vw;
    padding: 10px 20px;
    list-style-type: none;
}

#chat ul#chat_messages>li {
    transform: rotate(-180deg);
}

#chat input#chat_msg {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    font-family: Myriad Pro, Segoe UI, Verdana, sans-serif;
    font-size: 13px;
    line-height: 35px;
    width: 35vw;
    padding: 5px 5px 5px 15px;
}

#chat_channels li {
    float: left;
    border: 1px solid black;
    list-style-type: none;
    padding: 5px 15px;
    margin: 5px 5px 0px 0px;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: none;
}

#chat_channels li#active {
    color: rgb(165, 69, 165);
}

::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
    border-radius: 25px
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}